*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    overflow-y: auto; 
    transition: 1s ease-in-out;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 50%;
    border: 3.5px solid #0CAFFF;
    border-radius: 20px;
    gap: 5%;
    padding: 1%;
}
.div1 h2{
    font-size: 2em;
}

.div2{
    width: 75%;
}

.div3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 5%;
    height: 70%;
    width: 90%;
    font-size: 1.3rem;
}
.img{
    height: 75%;
    width: 45%;
}
#loader{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: large;
    color: #00aaff;
}

@media (max-width: 767px) {
    .app{
        align-items: normal;
    }
    .div{
        margin-top: 10%;
        height: 80%;
        width: 90%;
    }
    .div2{
        height: 7%;
        width: 90%;
    }
    .div3{
        font-size: larger;
    }
    .img{
        height: 60%;
        width: 90%;
    }
}